body {
  background-color: var(--backgorund-color);
}

.container {
  align-items: center;
  background-color: var(--background-color);
  border: 2px solid var(--headline-color);
  border-radius: 16px;
  box-shadow: 7px 8px 15px -3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 150px auto auto;
  padding: 2rem;
  text-align: center;
  width: 50%;
}

.title {
  color: var(--headline-color);
}

.message {
  color: var(--paragraph-color);
  margin-bottom: 4rem;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.name-input {
  border: 2px solid var(--paragraph-color);
  border-radius: 8px;
  height: 30px;
}

.login-button {
  background-color: var(--button-color);
  border: none;
  border-radius: 8px;
  color: var(--button-text-color);
  font-weight: 800;
  height: 30px;
  margin-top: 1rem;
  width: 80px;
}

.login-button:hover {
  box-shadow: 7px 8px 15px -3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.login-button:disabled {
  background-color: var(--paragraph-color);
  border: none;
  box-shadow: none;
  cursor: not-allowed;
}
