header {
  align-items: center;
  background-color: var(--headline-color);
  box-shadow: 7px 8px 15px -3px rgba(0, 0, 0, 0.2);
  height: 60px;
}

.header-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 30px;
}

.hi {
  color: var(--button-text-color);
  font-size: 22px;
}

.hi:nth-child( 2 ) {
  font-weight: 800;
}

.navbar {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 380px;
}

.navbar a {
  color: var(--button-text-color);
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
