:root {
  --background-color: #fffffe;
  --headline-color: #094067;
  --paragraph-color: #5f6c7b;
  --button-color: #3da9fc;
  --button-text-color: #fffffe;
  --secondary-color: #90b4ce;
  --tertiary-color: #ef4565;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
